* {
    margin:0;
    padding:0;
    font-family: "Montserrat";
}
body {
    display: flex;
    flex-direction: column; 
}
p {
    padding-top:10px;
}

/* Banner */
.banner, .banner-left{
    display: flex;
    background-color: rgb(240, 240, 240);
    padding:10px;
    justify-content: center;
}
.banner {
    gap:250px;
}
.pfp {
    width:100px;
    height:100px;
    border-radius: 50%;
    flex-shrink: 0;
}
.logo {
    width: 15px;
    height:15px;
    margin-bottom:-2px;
}
.name {
    margin: 0;
    margin-left: 10px;
    padding:10px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 32px;
    font-family: "Montserrat";
}
li {
    margin:0;   
    padding-right: 10px;
}
.left-links, .right-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8px;
}
.right-links {
    padding-top: 30px;
}
ul {
    list-style: none;
    display: flex;
    margin:0;
    padding:10px;
    margin-left: 10px;
}
a {
    text-decoration: none;
    color:black;
}
.experience {
    padding-top: 0px;
}
a:hover {
    text-decoration: underline;
}
/* Inner Body */

/* Cards */
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}
.card {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* greeter */
.greet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 100px;
    max-height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
}
.greet-left {
    max-width: 400px;
    height: 250px;
    flex-grow:1;
    padding-right: 50px;
}

.greet-image {
    width:250px;
    height:250px;
    border-radius: 5%;
    flex-grow:1;
}
.greet-intro {
    color: #242424;
    font-size: 50px;
}
.greet-title {
    padding-top: 10px;
    color: #333;
}
.greet-contact {
    font-weight: bold;
}
/* about me */
.about-me {
    margin-top:50px;
    display: flex;
    flex:1;
}
h2 {
    color:#525050;
    font-size: 30px;
}
.about-me-img {
    height: 450px;
    width: 350px;
    border-radius: 5%;
}
.about-me-text {
    max-width: 300px;
    margin-left: 75px;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    margin-top: auto;
    padding: 25px;
}
.footer-ul > li {
    font-size: 20px;
    font-family: "Montserrat";
}
.footer-ul {
    margin-bottom: 20px;
}
.createdby {
    font-size: 15px;
}
